*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: aquamarine;
    font-size: 14px;
}
.container{
    width:80%;
    margin: 50px auto;
}
.contactbox{
    background-color: white;
    display:  flex;

}
.contactleft{
    flex-basis: 60%;
    padding: 40px 60px;
}
.contactright{
    flex-basis: 40%;
    padding:b 40px ;
    background-color: blue;

}
h1{
    margin-bottom: 10px;

}
.container p{
    margin-bottom: 40px;

}
.inputrow{
    justify-content:space-between ;
    display: flex;
    margin-bottom: 20px;

}
.textarea{
    width: 100%; 
    border: 1px solid black;
    outline: none;
    padding: 10px;
    box-sizing: border-box;


}
.button{
    border: none;
    outline: none;
    width: 100%;
    color: black;
    background-color: blue;
    border-radius: 20px;
}
.contactleft{
    font-weight: 600;
    margin-bottom: 30px;
    color: blue;
}
.contactright
{
    color: white;
    font-weight: 600;
    margin-bottom: 30px;

}