{% extends 'shop/basic.html' %}

{% block title%} About Us{% endblock %}
{% block body %}




<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">PetDote - All about Pets!</h1>
      <p>PetDote is an Indian electronic commerce company based in Mumbai, India. Created by Tanya Mishra,Prayag Mayekar,Sejal Thathera and Ansh Tiwari in 2022, the company focuses on pet product sales.
The service competes primarily with PawsIndia,and Petgenie as of aug 2022 </p>
  </div>

  
    </div>

    <hr>

  </div> <!-- /container -->

</main>





{% endblock %}